[submodule "MX_Alps_Hybrid"]
	path = MX_Alps_Hybrid
	url = https://github.com/ai03-2725/MX_Alps_Hybrid
[submodule "keyswitch-kicad-library"]
	path = keyswitch-kicad-library
	url = git@github.com:perigoso/keyswitch-kicad-library.git
